fastapi[standard]
uvicorn
pydantic
motor
pymongo
apscheduler
influxdb-client
cryptography
requests
python-multipart
aiofiles
jinja2
websockets
aiohttp
redis
celery[redis]
flower
fastapi_utils
typing_inspect
